.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the dashboard takes the full height */
}

.dashboard-content {
  flex: 1; /* Allows the content area to grow */
  padding: 20px; /* Add padding to the content area */
  background-color: #102156; 
  color: aliceblue;
}

h1 {
  margin-bottom: 20px; /* Adds spacing below the title */
}
