.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b1638;
    color: #cb3dfe;
    text-align: left;
    padding: 5px 20px;
    z-index: 1000;
    margin: 0; /* Ensure no margin */
  }
  